dash
dash-bootstrap-components
dash_html_components
psycopg2-binary
numpy
requests
pandas
holidays
bs4
dash>=3.0.0
dash-bootstrap-components
Flask
Flask-Login
Flask-SQLAlchemy
psycopg2-binary
dash
dash-bootstrap-components
flask
flask-login
werkzeug
flask-caching
sqlalchemy
flask-sqlalchemy
psycopg2-binary
